# [Practice Notebook] Scikit-Learn Library

# Question 1

**Instructions**
**Background Information**

HR analytics is revolutionising the way human resources departments operate, leading to higher efficiency and better results overall. Human resources have been using analytics for years. However, the collection, processing, and analysis of data have been largely manual, and given the nature of human resources dynamics and HR KPIs, the approach has been constraining HR. Therefore, it is surprising that HR departments woke up to the utility of machine learning so late in the game.

**Problem Statement**
Your client is a large Multinational Corporation, and they have nine broad verticals across the organization. One of the problems your client faces is identifying the right people for promotion (only for the manager position and below) and preparing them in
time.

Currently the process, they are following is:

    ● They first identify a set of employees based on recommendations/ past performance.

    ● Selected employees go through the separate training and evaluation program for each vertical.

    ● These programs are based on the required skill of each vertical. At the end of the program, based on various factors such as training performance, KPI completion (only employees with KPIs completed greater than 60% are considered) etc., the employee gets a promotion.

For the process mentioned above, the final promotions are only announced after the evaluation, and this leads to a delay in transition to their new roles. Hence, the company needs your help in identifying the eligible candidates at a particular checkpoint so that they can expedite the entire promotion cycle.
They have provided multiple attributes around employees’ past and current performance along with demographics. Now, The task is to predict whether a potential promotee at a checkpoint will be promoted or not after the evaluation process.

**Dataset**

     ● Dataset URL: https://bit.ly/2ODZvLCHRDataset

In [2]:
#Import the data and explore it
import pandas as pd

df = pd.read_csv('https://bit.ly/2ODZvLCHRDataset')


df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [4]:
#Check data types
df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [6]:
#Check the shape
df.shape

(54808, 14)

In [7]:
#check duplicate data
df.duplicated().sum()

0

In [8]:
df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [9]:
#Drop NaN values
df.dropna(inplace=True)

In [10]:

import pandas as pd

# import decision tree from the sklearn library
from sklearn.tree import DecisionTreeClassifier


#create your features by dropping unnecessary fields(columns)
features = df.drop(['employee_id', 'department','region','education','gender','recruitment_channel'], axis=1)
target = df['is_promoted']

#train our model
model = DecisionTreeClassifier()
model.fit(features,target)

#Test the model through scoring
print(model.score(features,target))

1.0

In [ ]:
import pandas as pd

# import decision tree from the sklearn library
from sklearn.tree import DecisionTreeClassifier


#create your features by dropping unnecessary fields(columns)
features = df.drop(['employee_id', 'department','region','education','gender','recruitment_channel'], axis=1)
target = df['is_promoted']

#train our model
model = DecisionTreeClassifier()
model.fit(features,target)

#Test the model through scoring
print(model.score(features,target))